<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>KeyLoom</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
	<key>CFBundleName</key>
	<string>KeyLoom</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Fabiconcept. All rights reserved.</string>
	<key>CFBundleGetInfoString</key>
	<string>KeyLoom - Floating Virtual Keyboard for macOS by Fabiconcept</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>KeyLoom needs accessibility access to paste keystrokes into other applications.</string>
</dict>
</plist>
